<a routerLink="add">Add</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products">
            <th scope="col">{{p.id}}</th>
            <th scope="col">{{p.name}}</th>
            <th scope="col">{{p.price}}</th>
            <th scope="col"><img src={{p.image}} alt=""></th>
            <th scope="col">{{p.description}}</th>
            <th>
                <button (click)="handleRemove(p.id)">Remove</button>
                <a routerLink={{p.id}}>Edit</a>
            </th>
        </tr>
    </tbody>
</table>

<div *ngIf="succes" class="btn-nam align-items-center">
    <div class="d-flex">
        <div class="toast-body">
            Remove successfully
        </div>
        <button (click)="toggle()" type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close">Cancel</button>

    </div>
</div>